.profile__name {
    margin: 0;

    font-weight: 500;
    font-size: 27px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
}

@media (min-width: 768px) {
    .profile__name {
        font-size: 42px;
        line-height: 48px;
        max-width: 294px;
    }
}