
.popup__close-button {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(0, calc(-100% - 16px));

    width: 20px;
    aspect-ratio: 1;
    padding: 0;

    background-color: transparent;
    background-image: url(../../../images/popup/close-icon.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    display: none;

    cursor: pointer;
    transition: opacity 260ms ease;
}

.popup_opened .popup__close-button {
    display: block;
}

.popup__close-button:is(:hover, :focus) {
    opacity: 0.6;
}

@media (min-width: 720px) {
    .popup__close-button {
        width: 32px;
        transform: translate(calc(100% + 8px), calc(-100% - 8px));
    }
}