.header__link {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  transition: opacity 260ms ease;

}

@media (max-width: 768px) {
  .header__link {
    margin-right: var(--container-padding);
  }
}

@media (min-width: 768px) {
  .header__link {
    font-size: 18px;
  }
}

.header__link:is(:hover, :focus) {
  opacity: 0.6;
}

