.elements {
    margin-top: 36px;
    margin-inline: auto;
    width: min(var(--max-width), 100% - var(--container-padding) * 2);

    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 282px);
    row-gap: 20px;
    column-gap: 17px;

}

@media (min-width: 768px) {
    .elements {
        margin-top: 47px;
    }
}