.profile__avatar-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: min-content;
    margin-inline: auto;
}

.profile__avatar-container:hover {    
    background-image: url(../../../images/profile/edit-avatar.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 26px 26px;
}

@media (min-width: 720px) {
    .profile__avatar-container {
        margin-inline-end: 24px;
    }
}