@import url(../vendor/normalize.css);

/* @import url(../fonts/fonts.css); */

@import url(../variables/variables.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__signout-button/header__signout-button.css);
@import url(../blocks/header/__auth-container/header__auth-container.css);
@import url(../blocks/header/__links/header__links.css);
@import url(../blocks/header/header__auth-overlay/header__auth-overlay.css);
@import url(../blocks/header/header__auth-overlay/header__auth-overlay_active/header__auth-overlay_active.css);
@import url(../blocks/header/_logged-in/header_logged-in.css);
@import url(../blocks/header/__auth-container/_active/header__auth-container_active.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__flex-group/profile__flex-group.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__bio/profile__bio.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__avatar-container/profile__avatar-container.css);


@import url(../blocks/elements/elements.css);

@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__heading/element__heading.css);
@import url(../blocks/element/__info/element__info.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like/_active/element__like_active.css);
@import url(../blocks/element/__delete-button/element__delete-button.css);
@import url(../blocks//element/__like-container/element__like-container.css);
@import url(../blocks/element/__like-counter/element__like-counter.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__expanded-image-container/popup__expanded-image-container.css);
@import url(../blocks/popup/__img/popup__img.css);
@import url(../blocks/popup/__figure/popup__figure.css);
@import url(../blocks/popup/__caption/popup__caption.css);
@import url(../blocks/popup/_type_image/popup_type_image.css);
@import url(../blocks/popup/__title/_type_confirmation/popup__title_type_confirm.css);
@import url(../blocks/popup/__container/_auth/popup__container_auth.css);

@import url(../blocks/form/form.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/form/__submit-button/form__submit-button.css);
@import url(../blocks/form/__set/form__set.css);
@import url(../blocks/form/__input-error/form__input-error.css);
@import url(../blocks/form/__input-error/_active/form__input-error_active.css);
@import url(../blocks/form/__input/_type_error/form__input_type_error.css);
@import url(../blocks/form/_auth/form_auth.css);
@import url(../blocks/form/__link/form__link.css);
@import url(../blocks/form/__submit-button/__submit-button_dark/form__submit-button_dark.css);
@import url(../blocks/form/__title/form__title.css);
@import url(../blocks/form/__input/_dark/form__input_dark.css);

@import url(../blocks/main/main.css);

@import url(../blocks/sr-only/sr-only.css);

