.header__auth-container {
  gap: 24px;

  display: flex;
  gap: 24px;

  padding: 0;
  padding-right: var(--container-padding);
  border: 0;
}

@media (min-width: 768px) {
  .header__auth-container {
    padding: 0;
  }
}

@media (max-width: 424.9px) {
  .header__auth-container {
  flex-direction: column;
  justify-content: center;
  padding: 0;
  transform: translateY(-110%);
  opacity: 0;
  transition: transform 500ms ease-in-out, opacity 1000ms linear;
  }
}
@media (min-width: 424.00001px ) and (max-width:424.89px) {
  .header__auth-container {
    transition: none;
  }
}

