.profile__add-button {
    border: 2px solid #fff;
    box-sizing: border-box;
    background: transparent;

    cursor: pointer;
    transition: opacity 260ms ease;

    position: relative;
    height: 50px;
    max-width: 282px;

    margin-top: 36px;
    margin-inline: auto;
    width: 100%;
}

.profile__add-button::after {
    content: '';
    position: absolute;
    inset: 0;
    background: url(../../../images/profile/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.profile__add-button:is(:hover, :focus) {
    opacity: 0.6;
}

@media (min-width: 720px) {
    .profile__add-button {
        padding-block: 14px;
        padding-inline: 64px;
        margin: 0;
        width: 150px;
    }
}
