.header__links {
  margin-right: auto;
  display: flex;
  position: relative;
  padding-left: var(--container-padding);
  padding-block: 30px;
}

@media (max-width: 425px) {
  .header__links {
    padding: 0;
    padding-block: 30px;
    width: min(var(--max-width), 100% - var(--container-padding) * 2);
    margin-inline: auto;
  }
}




@media (min-width: 768px) {
  .header__links {
    padding: 0;
  }
}
