.element__delete-button {
    background: url(../../../images/elements/trash.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 19px;
    border: 0;

    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

    transition: opacity 260ms;
}

.element__delete-button:is(:hover,:focus) {
    opacity: 0.5;
}