.header {
    border-bottom: 1px solid #545454;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--container-padding);
}



@media (min-width: 768px) {
    .header {
        padding-left: 0;
        padding-block: 30px;
        /* margin-top: 45px; */
        /* padding-bottom: 41px; */
        --container-padding: 27px;
        margin-inline: auto;
        width: min(var(--max-width), 100% - var(--container-padding) * 2);
    }
}