.popup {
    position: fixed;
    width: 100vw;
    /* width: 100dvw; */
    height: 100vh;
    /* height: 100dvh; */
    box-shadow: inset 100vmax 100vmax rgba(0 0 0 / 0.5);
    z-index: 10;
    inset: 0;
    overflow: hidden;

    display: grid;
    place-items: center;

    visibility: hidden;
    opacity: 0;
    transition: visibility 280ms, opacity 280ms;
}

